<! DOCTYPE HTML>
<html>
	 <head>
			<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<title>Fwitter</title>
	</head>
	<body>
		<center>
		<nav class="navbar navbar-default">
			<h2>Fwitter</h2> 
			<a href="/"><img src="IconTrans.png" class="homepic" width=65px;  height=60px; ALIGN=LEFT></a>  <img src="black-twitter.png" class="homepic" width=65px;  height=60px; ALIGN=LEFT> <img src="icon_profile.png" class="homepic" width=65px;  height=60px; ALIGN=LEFT></center>
  <div class="container-fluid">
  </div>
</nav>
		<h1>ERROR: THIS USERNAME or PASSWORD DOES NOT EXIST. </h1>
	</body>
</html>