<!DOCTYPE HTML>
<html>
	<head>
			<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<title>Fwitter</title>
	</head>
	<body>
		<center><h1>Fwitter</h1>
     Any similarties to Twitter are purely coincidental
			 <img src="/fwitter.png" style="width:70px; height:60px; top:1%;">
			<h1>Create an account!</h1>
		</center>
		<form id="formuser" method="POST" action="/tweet"> <center>
			username:
		<input type="text" name="username" placeholder="username">
			<br><br><br>
			password:
			<input type="password" name="password" placeholder="password">
			<br><br>
			<input type="submit" value="submit">
			</center>
			</form>
	</body>
</html>