<!DOCTYPE HTML>
<html>
	<head>
			<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="css/style.css"> 
		
		<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<title>Fwitter</title>
	</head>
	<body>
		<center>
		<nav class="navbar navbar-default">
			<h2>Fwitter</h2> 
			<a href="/"><img src="IconTrans.png" class="homepic" width=65px;  height=60px; ALIGN=LEFT></a>  <img src="black-twitter.png" class="homepic" width=65px;  height=60px; ALIGN=LEFT> <img src="icon_profile.png" class="homepic" width=65px;  height=60px; ALIGN=LEFT></center>
  <div class="container-fluid">
  </div>
</nav>
		<center> 
<!-- 			<div class= "Sign_Form">
  <h1>Log in</h1>
			<form action="/login"  id="formlogin" name="formlogin" method="post" accept-charset="utf-8">
				<input class="us3r" type="text" name="username" placeholder="Username" require>
				<input class="passw0rd" type="password" name="password" placeholder="Password" require>
				<br>
			<button type="submit" form="formlogin" value="Submit">Submit</button> 
						</form>
			<form action="/newuser"  id="formuser" name="formuser" method="post" accept-charset="utf-8">
				<input class="us3r" type="text" name="username" placeholder="Username" require>
				<input class="b10" type="text" name="bio" placeholder="Bio" require>
				<input class="passw0rd" type="password" name="password" placeholder="Password" require>
				<br>
			<button type="submit" form="formuser" value="Submit">Submit</button> 
						</form> -->
			 <input type="radio" checked id="toggle--login" name="toggle" class="ghost" />
  <input type="radio" id="toggle--signup" name="toggle" class="ghost" />

 

  <form class="form form--login framed" method="post" action="/" accept-charset="utf-8">
    <input type="text" name="username" placeholder="Username" class="input input--top" />
    <input type="password" name="password" placeholder="Password" class="input" />
    <input type="submit" value="Log in" class="input input--submit" />
    
    <label for="toggle--signup" class="text text--small text--centered">New? <b>Sign up</b></label>
  </form>
  
  <form class="form form--signup framed" method="post" action="/" accept-charset="utf-8">
   

    <input type="text" name="username"placeholder="Username" class="input input--top" />
    <input type="text" name="bio" placeholder="Bio" class="input" />
    <input type="password" name="password" placeholder="Password" class="input" />
    <input type="submit" value="Sign up" class="input input--submit" />
    
    <label for="toggle--login" class="text text--small text--centered">Not new? <b>Log in</b></label>
  </form>

 
  

  <div class="fullscreen-bg"></div>
		</center>
   

	</body>
</html>