<!DOCTYPE HTML>
<html>
	<head>
			<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
		<title>Fwitter</title>
	</head>
	<body>
		<nav class="navbar navbar-default">
  <div class="container-fluid">
  </div>
</nav>
<form id="formone" method="POST" action="/results">
<form>
<input type="text" id="tweetytweet" name="tweet" placeholder="What's happening?"></li>
</form>
<div class="container">
  <ul class="list-group">
    <li class="list-group-item">tex </li>
    <li class="list-group-item">sg </li>
    <li class="list-group-item"> sdg</li>
		<li class="list-group-item">tex </li>
    <li class="list-group-item">sg </li>
    <li class="list-group-item"> sdg</li>
		<li class="list-group-item">tex </li>
    <li class="list-group-item">sg </li>
    <li class="list-group-item"> sdg</li>
  </ul>
</div>
	</body>
</html>